@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #1946bb;
  --light-blue: #4b73f0;
  --orage: #fc7700;
  --light-orange: #ffaf17;
  --green: #bbce00;
  --primary-text: #050505;
  --secondary-text: #65676b;
  --input-gray: #f0f2f5;
  --gray-00: #f5f6f7;
  --gray-05: #f2f3f5;
  --gray-10: #ebedf0;
  --gray-20: #dadde1;
  --gray-25: #ccd0d5;
  --gray-30: #bec3c9;
  --gray-45: #8d949e;
  --gray-70: #606770;
  --gray-80: #444950;
  --gray-90: #303338;
  --gray-100: #1c1e21;
  --black-alpha-05: rgba(0, 0, 0, 0.05);
  --black-alpha-10: rgba(0, 0, 0, 0.1);
  --black-alpha-15: rgba(0, 0, 0, 0.15);
  --black-alpha-20: rgba(0, 0, 0, 0.2);
  --black-alpha-30: rgba(0, 0, 0, 0.3);
  --black-alpha-40: rgba(0, 0, 0, 0.4);
  --black-alpha-50: rgba(0, 0, 0, 0.5);
  --black-alpha-60: rgba(0, 0, 0, 0.6);
  --black-alpha-80: rgba(0, 0, 0, 0.8);
  --overlay-alpha-80: rgba(244, 244, 244, 0.8);
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-8: rgba(0, 0, 0, 0.8);
  --lightblue-alpha: rgba(75, 115, 240, 0.1);
  --lightblue-alpha-50: rgba(75, 115, 240, 0.5);
}

@font-face {
  font-family: Gotham-Bold;
  src: url("../utils/assets/fonts/gotham-bold.otf");
}

@font-face {
  font-family: Gotham-Book;
  src: url("../utils/assets/fonts/Gotham-book.otf");
}

@font-face {
  font-family: Gotham-Light;
  src: url("../utils/assets/fonts/gotham-light.ttf");
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--gray-00);
  font-family: "Montserrat";
  font-weight: 500;
}

select {
  width: 100%;
  outline: none;
  border: none;
  background-color: #ebedf0;
  border-radius: 5px;
  height: 40px;
  padding: 10px;

  color: #606770;
  border: 1px solid transparent;
  font-size: 14px;
}

input[type="submit"] {
  border: none;
}

a,
a:link,
a:hover,
a:focus-visible {
  text-decoration: none;
  color: unset;
  border: none;
  outline: none;
}

.border {
  border: 1px solid red !important;
}

.contenedor-login {
  height: 100%;
  min-height: 850px;
}

.icon-succes {
  color: var(--green);
}

.icon-delete {
  color: var(--orage);
}

.navbar-white {
  background: var(--white);
}

.navbar-blue {
  background: var(--blue);
}

.navbar-orange {
  background: var(--orage);
}

.navbar-alpha {
  background: var(--black-alpha-10);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.bg-orange {
  background-color: var(--orage);
}

.bg-light-orange {
  background-color: var(--light-orange);
}

.bg-green {
  background-color: var(--green);
}

.bg-gray {
  background: var(--overlay-alpha-80);
}

.bottom-border {
  border-bottom: 1px solid var(--gray-00);
}

.bottom-shadow {
  border-bottom: 1px solid var(--gray-05);
  box-shadow: 0px 5px 20px 0px var(--black-alpha-05);
}

.max-640 {
  max-width: 640px;
}

.text {
  font-size: 18px;
  font-family: Gotham-Bold;
}

.text-book {
  font-size: 20px;
  font-family: Gotham-Book;
}

.text-black {
  color: var(--black);
}

.text-grey {
  color: #cecece;
}

.text-grey-00 {
  color: var(--gray-45);
}

.text-medium {
  font-size: 18px;
  font-family: Gotham-Book;
}

.text-blue {
  color: var(--blue);
}

.text-bluelight {
  color: #4b73ee;
  font-size: 18px;
  font-family: Gotham-Bold;
  line-height: 2.8;
}

.text-gray {
  color: var(--gray-30);
  font-size: 18px;
  font-family: Gotham-Book;
}

.text-small {
  font-size: 13px;
}

.text-big {
  font-size: 1.62rem;
}

.text-bold {
  font-weight: 700;
}

.text-bolder {
  font-weight: 900;
}

.text-0 {
  line-height: 1;
}

.text-grey-00 {
  color: var(--gray-45);
}

.text-red {
  color: red;
}

.text-white {
  color: var(--white);
}

.text-orange {
  color: var(--orage);
}

.text-secondary {
  color: var(--secondary-text) !important;
}

.text-note {
  color: var(--black-alpha-30) !important;
}

.text-primary {
  color: var(--primary-text) !important;
}

.text-orange {
  color: var(--orage) !important;
}

.title {
  margin-top: 20%;
  margin-bottom: 10px;
}

.title_text {
  color: #000000;
  font-size: 25px;
  font-family: Gotham-Bold;
}

.title_icon {
  margin-left: 10px;
}

.tittle_text--lightblue {
  color: #4d75f2;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  background-color: var(--input-gray);
  color: #65676b;
  outline: none;
  border-radius: 10px;
  padding: 0px 15px;
  font-size: 14px;
}

.form-input::placeholder {
  font-size: 18px;
  font-family: Gotham-Book;
  line-height: 2.8;
  color: #bababa;
}

.img_bg {
  background-image: url("../utils/assets/grupo_36.webp");
  background-size: cover;
  background-position: 0;
  position: relative;
}

.img_bg img {
  position: absolute;
}

.img_bg img:nth-child(1) {
  width: 33%;
  left: -35px;
  top: 50%;
  transform: translate(0%, -50%);
}

.img_bg img:nth-child(2) {
  width: 35%;
  left: 210px;
  top: 65%;
  transform: translate(0%, -50%);
}

.loginform_footer {
  top: 90%;
  position: relative;
}

.loginform_lost {
  margin-top: 10%;
}

.registerform {
  padding: 45px;
  margin: 25px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0px var(--black-alpha-10);
}

.cta {
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: var(--grey);
  color: #65676b;
  padding: 10px 25px;
  border-radius: 10px;
  white-space: nowrap;
  font-family: Montserrat;
  font-weight: 700;
  border: none;
}

.cta--rounded {
  border-radius: 40px;
}

.cta:hover {
  transform: scale(1.005);
  box-shadow: 3px 3px 6px 0px var(--black-alpha-20);
}

.cta--orange {
  background-color: var(--orage);
}

.cta--blue {
  background-color: var(--blue);
}

.cta--green {
  background-color: var(--green);
}

.cta--gray {
  background-color: var(--gray-10);
}

.cta--link {
  padding: 10px 0px !important;
}

.cta--link--small {
  padding: 0px 0px !important;
}

.cta--link:hover,
.cta--link--small:hover {
  box-shadow: none !important;
  transform: scale(1.02);
}

.cta--disabled {
  cursor: no-drop;
}

.cta--disabled .cta_text {
  color: var(--gray-30);
}

.cta--disabled svg {
  color: var(--gray-30) !important;
}

.cta--blue .cta_text {
  color: var(--white);
}

.cta--orange .cta_text {
  color: var(--white);
}

.cta--green .cta_text {
  color: var(--white);
}

.pill {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 1px solid var(--light-blue);
  border-radius: 30px;
  padding: 10px 20px;
  background-color: var(--lightblue-alpha);
  color: var(--light-blue);
  box-shadow: 3px 3px 3px 0px var(--black-alpha-10);
  white-space: nowrap;
}

.pill:hover {
  border: 1px solid var(--blue);
  background-color: var(--blue);
  color: white !important;
}

.cursor-pointer {
  cursor: pointer;
}

.columna--white {
  background-color: var(--white);
  border-radius: 5px;
}

.link--none {
  text-decoration: none;
}

.homemenu {
  padding: 10px 15px;
  background-color: var(--white);
  border-right: 1px solid var(--gray-20);
  display: flex;
  flex-direction: column;
}

.homemenu_item {
  display: flex;
  align-items: center;
  padding: 15px 15px;
  cursor: pointer;
  border-radius: 10px;
  color: var(--gray-45);
  font-family: "Montserrat";
  font-weight: 700;
}

.homemenu_item svg {
  font-size: 22px;
}

.homemenu_item:hover {
  background-color: var(--blue);
  color: white;
  stroke: white;
}

.homemenu_item:hover svg path {
  stroke: white;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.snack {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--gray-45);
  font-size: 14px;
}

.snack:hover {
  color: var(--blue);
}

.snack:hover svg {
  fill: var(--blue);
}

.bottom-border {
  border-bottom: 1px solid var(--gray-00);
}

.bottom-shadow {
  border-bottom: 1px solid var(--gray-05);
  box-shadow: 0px 5px 20px 0px var(--black-alpha-05);
}

.topnav {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  z-index: 2;
  min-height: 50px;
}

.contenedor-dashboard {
  margin: 1px 10px;
}

.brand {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 40px;
  padding-left: 10px;
  font-family: "Montserrat" !important;
  font-size: 1.32rem;
}

.icon_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  cursor: pointer;
  color: #ccc;
  height: 50px;
  flex: none;
}

.icon_btn--active {
  color: #1a47bc;
  background-color: var(--gray-00);
  border-bottom: none;
}

.icon_btn:hover {
  background-color: #f5f5f5;
  color: var(--blue);
  /* color: var(--gray-25) */
}

.icon_btn--disable {
  color: #ccc;
  cursor: not-allowed;
}

.icon_btn--disable:hover {
  background-color: inherit !important;
  color: #ccc !important;
}

.card.card--rounded {
  border-radius: 30px !important;
}

.card {
  position: relative !important;
  width: 100%;
  height: 100% !important;
  border: 1px solid var(--gray-10);
  border-radius: 0px !important;
  padding: 10px;
  box-shadow: 2.5px 2.5px 5px 0px var(--black-alpha-05);
}

.tags {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  color: var(--white);
  font-size: 14px;
  list-style: none;
  border-radius: 8px;
  margin: 0 8px 8px 0;
  background: #0052cc;
}

.tags-title {
  margin-top: 3px;
}

.tags-closeicon {
  display: flex;
  width: 16px;
  height: 16px;
  line-height: 16px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-left: 8px;
  color: #0052cc;
  border-radius: 50%;
  background: #fff;
}

.tags_container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 48px;
  width: 100%;
  padding: 0 8px;
  border: 1px solid rgb(214, 216, 218);
  border-radius: 6px;
  cursor: pointer;
}

.tags_container:focus-within {
  border: 1px solid #0052cc;
}

.tags_container select {
  flex: 1;
  border: none;
  height: 46px;
  font-size: 14px;
  padding: 4px 0 0 15px;
}

.tags_container select:focus {
  outline: transparent;
}

.tags_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 10px 0 0 0;
}

@media (max-width: 1400px) {
  .loginform_footer {
    top: 90%;
  }
  .img_bg img:nth-child(2) {
    left: 150px;
    top: 60%;
  }
  .text-book {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .title {
    margin-top: 10px;
  }
  .loginform_lost {
    margin-top: 3%;
  }
  .img_bg img:nth-child(2) {
    left: 120px;
    top: 60%;
  }
}

@media (max-width: 992px) {
  .img_bg img:nth-child(2) {
    left: 90px;
    top: 60%;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .snack {
    font-size: 13px;
    padding-top: 8px;
  }
  .title {
    margin-top: 10px;
  }
  .loginform_lost {
    margin-top: 3%;
  }
}

@media (max-width: 375px) {
  .snack {
    font-size: 13px;
    padding-top: 8px;
  }
  .title {
    margin-top: 10px;
  }
  .loginform_lost {
    margin-top: 3%;
  }

  .cta {
    font-size: 12px;
  }
}
