@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #1946bb;
  --light-blue: #4b73f0;
  --orage: #fc7700;
  --light-orange: #ffaf17;
  --green: #bbce00;
  --primary-text: #050505;
  --secondary-text: #65676b;
  --input-gray: #f0f2f5;
  --gray-00: #f5f6f7;
  --gray-05: #f2f3f5;
  --gray-10: #ebedf0;
  --gray-20: #dadde1;
  --gray-25: #ccd0d5;
  --gray-30: #bec3c9;
  --gray-45: #8d949e;
  --gray-70: #606770;
  --gray-80: #444950;
  --gray-90: #303338;
  --gray-100: #1c1e21;
  --black-alpha-05: rgba(0, 0, 0, 0.05);
  --black-alpha-10: rgba(0, 0, 0, 0.1);
  --black-alpha-15: rgba(0, 0, 0, 0.15);
  --black-alpha-20: rgba(0, 0, 0, 0.2);
  --black-alpha-30: rgba(0, 0, 0, 0.3);
  --black-alpha-40: rgba(0, 0, 0, 0.4);
  --black-alpha-50: rgba(0, 0, 0, 0.5);
  --black-alpha-60: rgba(0, 0, 0, 0.6);
  --black-alpha-80: rgba(0, 0, 0, 0.8);
  --overlay-alpha-80: rgba(244, 244, 244, 0.8);
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-8: rgba(0, 0, 0, 0.8);
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--gray-00);
  font-family: "Montserrat";
  font-weight: 500;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 8px;
}

input[type="submit"] {
  border: none;
}

a,
a:link,
a:hover,
a:focus-visible {
  text-decoration: none;
  color: unset;
  border: none;
  outline: none;
}

.border {
  border: 1px solid red !important;
}

.icon-succes {
  color: var(--green);
}

.icon-delete {
  color: var(--orage);
}

.navbar-white {
  background: var(--white);
}

.navbar-blue {
  background: var(--blue);
}

.navbar-orange {
  background: var(--orage);
}

.navbar-alpha {
  background: var(--black-alpha-10);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.bg-orange {
  background-color: var(--orage);
}

.bg-light-orange {
  background-color: var(--light-orange);
}

.bg-green {
  background-color: var(--green);
}

.max-640 {
  max-width: 640px;
}

.text {
  font-size: 1rem;
  font-family: Montserrat;
}

.text-grey-00 {
  color: var(--gray-45);
}

.text-medium {
  font-size: 1.18rem !important;
}

.text-blue {
  color: var(--blue);
}

.text-gray {
  color: var(--gray-30);
}

.text-small {
  font-size: 13px;
}

.text-big {
  font-size: 1.62rem;
}

.text-bold {
  font-weight: 700;
}

.text-bolder {
  font-weight: 900;
}

.text-0 {
  line-height: 1;
}

.text-grey-00 {
  color: var(--gray-45);
}

.text-red {
  color: red;
}

.text-orange {
  color: var(--orage);
}

.text-secondary {
  color: var(--secondary-text) !important;
}

.text-note {
  color: var(--black-alpha-30) !important;
}

.text-primary {
  color: var(--primary-text) !important;
}

.text-orange {
  color: var(--orage) !important;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title_text {
  font-weight: 700;
  color: #333;
  font-size: 2.2rem;
  /* text-transform: uppercase; */
  font-family: Montserrat;
  line-height: 1.2;
}

.title_icon {
  margin-left: 10px;
}

.tittle_text--lightblue {
  color: #4d75f2;
}

.form-input {
  width: 100%;
  height: 45px;
  margin: 10px 0px;
  border: none;
  background-color: var(--input-gray);
  color: #65676b;
  outline: none;
  border-radius: 40px;
  padding: 0px 15px;
  font-size: 14px;
}

.loginform {
  padding: 45px;
  margin: 25px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0px var(--black-alpha-10);
}

.registerform {
  padding: 45px;
  margin: 25px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0px var(--black-alpha-10);
}

@keyframes placeholder {
  0% {
    transform: translate(-150%);
  }
  100% {
    transform: translate(150%);
  }
}

.placeholder-background {
  background-color: var(--gray-10);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.placeholder-loader {
  width: 100%;
  height: 100%;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholder;
  animation-timing-function: linear;
  background: rgb(242, 243, 245);
  background: linear-gradient(
    90deg,
    rgba(235, 237, 240, 1) 0%,
    rgba(235, 237, 240, 1) 25%,
    rgba(242, 243, 245, 1) 50%,
    rgba(235, 237, 240, 1) 75%,
    rgba(235, 237, 240, 1) 100%
  );
}

.cta {
  border: none;
  height: 40px;
  background-color: var(--gray-10);
  margin: 5px;
  border-radius: 10px;
  text-align: inherit;
  cursor: pointer;
  box-shadow: 3px 3px 3px 0px var(--black-alpha-10);
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta:hover {
  transform: scale(1.01);
  box-shadow: 6px 6px 6px 0px var(--black-alpha-10);
}

.cta_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  margin-left: 3px;
}

.cta--blue {
  background-color: var(--light-blue);
}

.cta--orange {
  background-color: var(--orage);
}

.cta_text {
  color: var(--primary-text);
  margin: 0px 10px;
  font-family: Montserrat;
  font-weight: 700;
}

.cta_text--white {
  color: white;
}

.cta--disabled {
  background-color: var(--gray-25);
  cursor: not-allowed;
}

.cta--disabled .cta_text {
  color: red;
}

.cursor-pointer{
  cursor: pointer;
}

.columna--white {
  background-color: var(--white);
  border-radius: 5px;
}

.link--none {
  text-decoration: none;
}

.homemenu {
  padding: 10px 15px;
  background-color: var(--white);
  border-right: 1px solid var(--gray-20);
  display: flex;
  flex-direction: column;
}

.homemenu_item {
  display: flex;
  align-items: center;
  padding: 15px 15px;
  cursor: pointer;
  border-radius: 10px;
  color: var(--gray-45);
  font-family: "Montserrat";
  font-weight: 700;
}

.homemenu_item svg {
  font-size: 22px;
}

.homemenu_item:hover {
  background-color: var(--blue);
  color: white;
  stroke: white;
}

.homemenu_item:hover svg path {
  stroke: white;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.snack {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--gray-45);
  font-size: 14px;
}

.snack:hover {
  color: var(--blue);
}

.snack:hover svg {
  fill: var(--blue);
}

.bottom-border{
  border-bottom: 1px solid var(--gray-00);
}

.bottom-shadow {
  border-bottom: 1px solid var(--gray-05);
  box-shadow: 0px 5px 20px 0px var(--black-alpha-05);
}

.topnav {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  z-index: 2;
  min-height: 50px;
}

.contenedor-dashboard {
  margin: 1px 10px;
}

.brand {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 40px;
  padding-left: 10px;
  font-family: "Montserrat" !important;
  font-size: 1.32rem;
}

.icon_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  cursor: pointer;
  color: #CCC;
  height: 50px;
  flex: none;
}

.icon_btn--active{
  color: #1a47bc;
  background-color: var(--gray-00);
  border-bottom: none;
}

.icon_btn:hover{
  background-color: #f5f5f5;
  color:var(--blue)
  /* color: var(--gray-25) */
}

.icon_btn--disable{
  color: #CCC;
  cursor: not-allowed;
}

.icon_btn--disable:hover{
  background-color: inherit !important;
  color:#CCC !important;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .loginform {
    padding: 10px;
    border-radius: 8px;
    margin: 0px;
  }
  .text-big {
    font-size: 22px;
  }
  .text-medium {
    font-size: 18px;
  }
  .snack {
    font-size: 10px;
  }
}
